In [1]:
def greet():
    print("hello")
    print("good mrng")

In [5]:
greet()
greet()

hello
good mrng
hello
good mrng

In [11]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
result1,result2=add_sub(5,4)
print(result1,result2)

9 1

In [28]:
def person(name,**data):
    print(name)
    
    
    for i,j in data.items():
        print(i,j)
            
person("kotireddy",age=22,city="mumbai",mob=8185949491)

kotireddy
age 22
city mumbai
mob 8185949491